body{
	background-color: #98C1D9;
	color: #293241;
}
.btn-to-review{
	background-color: #EE6C4D;
	border-color: #EE6C4D;
	color: white;
	width: 180px;
}
.btn-to-review:hover{
	background-color: #E0FBFC;
	border-color: #E0FBFC;
	color: #293241;
}
.btn-to-overview{
	background-color: #EE6C4D;
	border-color: #EE6C4D;
	color: white;
	width: 180px;
}
.btn-to-overview:hover{
	background-color: #E0FBFC;
	border-color: #E0FBFC;
	color: #293241;
}
.btn-to-contact{
	background-color: #EE6C4D;
	border-color: #EE6C4D;
	color: white;
	width: 180px;
}
.btn-to-contact:hover{
	background-color: #E0FBFC;
	border-color: #E0FBFC;
	color: #293241;
}
.myNavbar{
	background-color: #3D5A80;
	color: #E0FBFC !important;
}