body{
	background-color: #98C1D9;
	color: #293241;
}
.myNavbar{
	background-color: #3D5A80;
	color: #E0FBFC !important;
}
.myNavbar a{
	background-color: #3D5A80;
	color: #E0FBFC !important;
	text-decoration: none;
}