body{
	background-color: #98C1D9;
	color: #293241;
}

.logo-white{
	border-radius: 50%;
}
.logo-black{
	border-radius: 50%;
}
.logo-white:hover{
	border: 1px solid #293241;
}
.logo-black:hover{
	border: 1px solid #E0FBFC;
}
.myNavbar{
	background-color: #3D5A80;
	color: #E0FBFC;
}